@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 18vh;
  margin-bottom: 14vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color:#c7d8fb;
}

.scrollcontainer {
  height: 40vh;
  overflow-y: auto;
  /* #C3C3D4 #9D9DA7 */
}
