.todolist-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}


.taskMT, .taskU {
    border-radius: 25px;
    padding-top: 0.01rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    transition: transform 0.2s;
}

.taskMT:hover, .taskU:hover {
    transform: scale(1.02);
}

.addtask-container {
    height: auto;
}

.filter-container {
    height: auto;
}

.filter-scroll {
    height: 45vh;
    overflow-y: auto;
    margin-right: 2em;
    width: 100%;
    margin-bottom: 2rem;
}

.maintask-container {
    height: auto;
}

.maintask-scroll {
    height: 45vh;
    overflow-y: auto;
    margin-right: 2em;
    width: 100%;
    margin-bottom: 2rem;
}


.unscheduled-container {
    height: auto;
}

.unscheduled-scroll {
    height: 45vh;
    overflow-y: auto;
    margin-right: 2em;
    width: 100%;
    margin-bottom: 2rem;
}